{
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-syntax-top-level-await",
    ["@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }],
    ["babel-plugin-add-import-extension", { "extension": "js", "replace": true }],
    "@babel/plugin-proposal-throw-expressions",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ]
}
